<!doctype html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>РАДИС - support</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/logos/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}" />
</head>

<body>
  <!--  Body Wrapper -->
  <script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}";
    window.USER_ID = "{{ user_id }}";
  </script>
  {% verbatim %}
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
       data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="client.html" class="text-nowrap logo-img">
            {% endverbatim %}
            <img src="{% static 'assets/images/logos/favicon.png' %}" width="34" alt="" />&nbsp; &nbsp;
            {% verbatim %}
            РАДИС
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Начало</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link"aria-expanded="false" @click="setSection('начало')">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Контролен панел</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Заявки</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" aria-expanded="false" @click="setSection('всички заявки')">
                <span>
                  <i class="ti ti-alert-circle"></i>
                </span>
                <span class="hide-menu">Всички заявки</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" aria-expanded="false" @click="setSection('текущи заявки')">
                <span>
                  <i class="ti ti-alert-circle"></i>
                </span>
                <span class="hide-menu">Текущи заявки</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" aria-expanded="false" @click="setSection('закрити заявки')">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Закрити заявки</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Профил</span>
            </li>
            <!--
            <li class="sidebar-item">
              <a class="sidebar-link" href="./authentication-login.html" aria-expanded="false">
                <span>
                  <i class="ti ti-user"></i>
                </span>
                <span class="hide-menu">Детайли</span>
              </a>
            </li>
            -->
            <li class="sidebar-item">
              {% endverbatim %}
              <a class="sidebar-link" href="{% url 'logout' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-logout"></i>
                </span>
                <span class="hide-menu">Изход</span>
              </a>
              {% verbatim %}
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->

    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <h3>{{ section_title }}</h3>
          </div>
        </nav>
      </header>
      <!--  Header End -->

      <!-- СЕКЦИЯ КОНТРОЛЕН ПАНЕЛ - начало -->
      <div class="container-fluid" style="max-width: 1800px;" v-if="status==0">
        <!-- Филтър - начало -->
        <div class="row">
          <div class="col-lg-12 d-flex align-items-strech">
            <div class="card w-100" >
              <div class="card-body" style="padding-top: 5px; padding-bottom: 5px; background-color: rgb(100 102 102 / 8%);">
                <div class="d-sm-flex d-block align-items-center justify-content-between">
                  <div class="mb-3 mb-sm-0">
                    <h5 class="card-title"><span class="fw-semibold">Клиент:</span>
                      &nbsp#{{clients[selected_client].id}} -
                      &nbsp{{clients[selected_client].first_name}}
                      &nbsp{{clients[selected_client].last_name}}
                    </h5>
                  </div>
                  <div>
                    <select class="form-select" v-model="selected_client" @click="refreshSection">
                      <option v-for="(u, i) in clients" :value="i">{{u.first_name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Филтър - край -->
        <div class="row">
          <!--  Лява колона -->
          <div class="col-lg-8 d-flex align-items-stretch">
            <!-- Последни действия - начало-->
            <div class="card w-100" style="background-color: #13deb914" >
              <div class="card-body p-4">
                <div class="mb-4">
                  <h5 class="card-title fw-semibold">Последни действия</h5>
                </div>
                <ul class="timeline-widget mb-0 position-relative mb-n5">
                  <li class="timeline-item d-flex position-relative overflow-hidden" v-for="(item, idx) in log">
                    <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                      <span class="timeline-badge border-2 border border-primary flex-shrink-0 my-8" v-if="item.action=='Подадена'"></span>
                      <span class="timeline-badge border-2 border border-danger flex-shrink-0 my-8" v-if="item.action=='Приета'"></span>
                      <span class="timeline-badge border-2 border border-warning flex-shrink-0 my-8" v-if="item.action=='Работи се'"></span>
                      <span class="timeline-badge border-2 border border-success flex-shrink-0 my-8" v-if="item.action=='Затворена'"></span>
                      <span class="timeline-badge-border d-block flex-shrink-0" style="background-color: #000;" v-if="(idx+1)<log.length"></span>
                    </div>
                    <div class="timeline-time text-dark flex-shrink-0 text-end">&nbsp&nbsp{{item.date}}</div>
                    <div class="timeline-desc fs-3 text-dark mt-n1">Заявка #{{item.request_id}} - {{item.action}}</div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Последни действия - край-->
          </div>
          <!--  Дясна колона -->
          <div class="col-lg-4 d-flex align-items-stretch">
            <!-- Статистика - начало -->
            <div class="card w-100" style="background-color: #138cde14;">
              <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Статистика</h5>
                <div class="table-responsive">
                  <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Тип задачи</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Брой</h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-primary">
                        <td class="border-bottom-0">
                            <span class="fw-normal">Поставени</span>
                        </td>
                        <td class="border-bottom-0">
                          <span class="fw-normal">123</span>
                        </td>
                      </tr>
                      <tr class="table-danger">
                        <td class="border-bottom-0">
                            <span class="fw-normal">Със статус "Приета"</span>
                        </td>
                        <td class="border-bottom-0">
                          <span class="fw-normal">123</span>
                        </td>
                      </tr>
                      <tr class="table-warning">
                        <td class="border-bottom-0">
                            <span class="fw-normal">Със статус "Работи се"</span>
                        </td>
                        <td class="border-bottom-0">
                          <span class="fw-normal">123</span>
                        </td>
                      </tr>
                      <tr class="table-success">
                        <td class="border-bottom-0">
                            <span class="fw-normal">Със статус "Приключена"</span>
                        </td>
                        <td class="border-bottom-0">
                          <span class="fw-normal">123</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>                
            <!-- Статистика край - край -->
          </div>
        </div>
        <div class="row">
          <!-- Последни заявки - начало -->
          <div class="row">
            <div class="col-12 d-flex align-items-stretch">                
              <div class="card w-100" style="background-color: #138cde14;">
                <div class="card-body p-4">
                  <h5 class="card-title fw-semibold mb-4">Последни заявки</h5>
                  <div class="table-responsive">
                    <table class="table text-nowrap mb-0 align-middle">
                      <thead class="text-dark fs-4">
                        <tr>
                          <th class="border-bottom-0" style="width:5%">
                            <h6 class="fw-semibold mb-0">Id</h6>
                          </th>
                          <th class="border-bottom-0" style="width:15%">
                            <h6 class="fw-semibold mb-0">Статус</h6>
                          </th>
                          <th class="border-bottom-0" style="width:15%">
                            <h6 class="fw-semibold mb-0">Дата/час</h6>
                          </th>
                          <th class="border-bottom-0" style="width:65%">
                            <h6 class="fw-semibold mb-0">Проблем</h6>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(r, i) in requests">
                          <td class="border-bottom-0"><h6 class="fw-semibold mb-0">#{{r.id}}</h6></td>
                          <td class="border-bottom-0">
                            <div class="d-flex align-items-center gap-2">
                              <span class="badge bg-primary rounded-3 fw-semibold" v-if="r.status=='Подадена'">{{r.status}}</span>
                              <span class="badge bg-danger rounded-3 fw-semibold" v-if="r.status=='Приета'">{{r.status}}</span>
                              <span class="badge bg-warning rounded-3 fw-semibold" v-if="r.status=='Работи се'">{{r.status}}</span>
                              <span class="badge bg-success rounded-3 fw-semibold" v-if="r.status=='Затворена'">{{r.status}}</span>
                            </div>
                          </td>
                          <td class="border-bottom-0">
                              <span class="fw-normal">{{r.date}}</span>
                          </td>
                          <td class="border-bottom-0">
                            <p class="mb-0 fw-normal">{{r.title}}</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>                
            </div>
          </div>
          <!-- Последни заявки - край -->
        </div>
      </div>
      <!-- СЕКЦИЯ КОНТРОЛЕН ПАНЕЛ - край -->

      <!-- СЕКЦИЯ СПИСЪК ЗАЯВКИ - начало -->
      <div class="container-fluid" style="max-width: 1800px;" v-if="status>2">
          <div class="container-fluid">   
            <div class="card" style="background-color: #13deb914;">             
              <div class="card-body">
                <!-- Филтър - начало -->
                <div class="row">
                  <div class="col-lg-12 d-flex align-items-strech">
                    <div class="card w-100" >
                      <div class="card-body" style="padding-top: 5px; padding-bottom: 5px; background-color: rgb(100 102 102 / 8%);">
                        <div class="d-sm-flex d-block align-items-center justify-content-between">
                          <div class="mb-3 mb-sm-0">
                            <h5 class="card-title"><span class="fw-semibold">Клиент:</span>
                              &nbsp#{{clients[selected_client].id}} -
                              &nbsp{{clients[selected_client].first_name}}
                              &nbsp{{clients[selected_client].last_name}}
                            </h5>
                          </div>
                          <div>
                            <select class="form-select" v-model="selected_client" @click="refreshSection">
                              <option v-for="(u, i) in clients" :value="i" >{{u.first_name}} </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Филтър - край -->
                <div class="card w-100" >
                  <div class="card-body p-4">
                    <div class="table-responsive">
                      <table class="table text-nowrap mb-0 align-middle">
                        <thead class="text-dark fs-4">
                          <tr>
                            <th class="border-bottom-0" style="width:5%">
                              <h6 class="fw-semibold mb-0">Id</h6>
                            </th>
                            <th class="border-bottom-0" style="width:10%">
                              <h6 class="fw-semibold mb-0">Статус</h6>
                            </th>
                            <th class="border-bottom-0" style="width:10%">
                              <h6 class="fw-semibold mb-0">Дата/час</h6>
                            </th>
                            <th class="border-bottom-0" style="width:65%">
                              <h6 class="fw-semibold mb-0">Заявка</h6>
                            </th >
                            <th class="border-bottom-0" style="width:10%"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(r, i) in requests">
                            <td class="border-bottom-0"><h6 class="fw-semibold mb-0">#{{r.id}}</h6></td>
                            <td class="border-bottom-0">
                              <div class="d-flex align-items-center gap-2">
                                <span class="badge bg-primary rounded-3 fw-semibold" v-if="r.status=='Подадена'">{{r.status}}</span>
                                <span class="badge bg-danger rounded-3 fw-semibold" v-if="r.status=='Приета'">{{r.status}}</span>
                                <span class="badge bg-warning rounded-3 fw-semibold" v-if="r.status=='Работи се'">{{r.status}}</span>
                                <span class="badge bg-success rounded-3 fw-semibold" v-if="r.status=='Затворена'">{{r.status}}</span>
                              </div>
                            </td>
                            <td class="border-bottom-0">
                                <span class="fw-normal">{{r.date}}</span>
                            </td>
                            <td class="border-bottom-0">
                              <p class="mb-0 fw-normal">{{r.title}}</p>
                            </td>
                            <td class="border-bottom-0">
                              <button type="button" class="btn btn-primary m-1"
                                      v-if="r.status=='Подадена'" @click="showDetails(i)">Виж детайли</button>
                              <button type="button" class="btn btn-danger m-1"
                                      v-if="r.status=='Приета'" @click="showDetails(i)">Виж детайли</button>
                              <button type="button" class="btn btn-warning m-1"
                                      v-if="r.status=='Работи се'" @click="showDetails(i)">Виж детайли</button>
                              <button type="button" class="btn btn-success m-1"
                                      @click="showDetails(i)" v-if="r.status=='Затворена'" >Виж детайли</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>            
            </div>    
          </div>
      </div>
      <!-- СЕКЦИЯ  - край -->

      <!-- СЕКЦИЯ ЗАЯВКА ПОДРОБНО - начало -->
      <div class="container-fluid" style="max-width: 1800px;" v-if="status==2">
          <div class="container-fluid">
            <div class="row mb-3">
              <!--  Лява колона -->
              <div class="col-lg-8 d-flex align-items-stretch">
                <!-- Последни действия - начало-->
                <div class="card w-100" style="background-color: #13deb914" >
                  <div class="card-body p-4">
                    <div class="mb-4">
                      <h5 class="card-title fw-semibold">Заявка:#{{requests[selected_request].id}}</h5>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <form>
                          <div class="mb-5">
                            <label for="theme" class="form-label">Тема:</label>
                            <p id="theme" style="margin-left: 100px;">{{requests[selected_request].title}}</p>
                          </div>
                          <div class="mb-5">
                            <label for="subject2" class="form-label">Детайли:</label>
                            <p id="subject2" style="margin-left: 100px;">{{requests[selected_request].message}}</p>
                          </div>
                          <div class="mb-5">
                            <label for="timeline" class="form-label">Хронология:</label>
                            <ul id="timeline" class="timeline-widget mb-0 position-relative mb-n5" style="margin-left: 100px;">
                              <li class="timeline-item d-flex position-relative overflow-hidden" v-for="(item, idx) in log">
                                <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                                  <span class="timeline-badge border-2 border border-primary flex-shrink-0 my-8" v-if="item.action=='Подадена'"></span>
                                  <span class="timeline-badge border-2 border border-danger flex-shrink-0 my-8" v-if="item.action=='Приета'"></span>
                                  <span class="timeline-badge border-2 border border-warning flex-shrink-0 my-8" v-if="item.action=='Работи се'"></span>
                                  <span class="timeline-badge border-2 border border-success flex-shrink-0 my-8" v-if="item.action=='Затворена'"></span>
                                  <span class="timeline-badge-border d-block flex-shrink-0" style="background-color: #000;" v-if="(idx+1)<log.length"></span>
                                </div>
                                <div class="timeline-time text-dark flex-shrink-0 text-end">&nbsp&nbsp{{item.date}}</div>
                                <div class="timeline-desc fs-3 text-dark mt-n1">Заявка #{{item.request_id}} - {{item.action}}</div>
                              </li>
                            </ul>
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Последни действия - край-->
              </div>
              <!--  Дясна колона -->
              <div class="col-lg-4 d-flex align-items-stretch">
                <!-- Действие - начало -->
                <div class="card w-100" style="background-color: #138cde14;">
                  <div class="card-body p-4">
                    <h5 class="card-title fw-semibold mb-4">Доклад:</h5>
                    <div class="card">
                      <div class="card-body">
                        <div>
                          <div class="mb-3">
                            <label for="subject" class="form-label">Детайли:</label>
                            <div id="subjectHelp" class="form-text">Описание на извършената работа.</div>
                            <textarea  class="form-control" id="subject" aria-describedby="subjectHelp" rows="19" v-model="action_message">
                            </textarea>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-4 d-flex align-items-stretch">
                            <button class="btn btn-danger" @click="updateRequest(1)">Приеми</button>
                          </div>
                          <div class="col-lg-4 d-flex align-items-stretch">
                            <button class="btn btn-warning" @click="updateRequest(1)">Изпрати</button>
                          </div>
                          <div class="col-lg-4 d-flex align-items-stretch">
                            <button class="btn btn-success" @click="updateRequest(1)">Затвори</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Статистика край - край -->
              </div>
            </div>
          </div>
      </div>
      <!-- СЕКЦИЯ ЗАЯВКА ПОДРОБНО - край -->
    </div>
  </div>
  {% endverbatim %}

  <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/sidebarmenu.js' %}"></script>
  <script src="{% static 'assets/js/app.min.js' %}"></script>
  <script src="{% static 'assets/libs/simplebar/dist/simplebar.js' %}"></script>

  <!-- включване на VUE js -->
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/staff.js' %}"></script>
 </body>

</html>